*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #333;
    box-shadow: 0 0 0 15px #2b8a45 inset;
}

a {
    color: #2b8a45;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

dl {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    margin: 30px auto;
}

dl > * {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

dt {
    justify-content: flex-end;
    width: 100px;
}

dt::after {
    content: ':';
}

dd {
    padding-left: 10px;
    width: calc(100% - 100px);
}

.account-btn {
    padding: 5px 15px;
    border: 1px solid #2b8a45;
    background-color: #fff;
    color: #2b8a45;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.account-btn:hover {
    transition: all 0.2s ease;
    border: 1px solid #fff;
    background-color: #2b8a45;
    color: #fff;
}

.links {
    width: 250px;
    margin: 15px auto 0;
    padding: 15px;
    border-top: 1px solid #2b8a45;
}
